
<div style="position: relative;">
  <form [formGroup]="taskDetailFormGroup" 
    (ngSubmit)="createNewTask()"
    [ngClass]="{'blur-screen': submitted}">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">Task creation</h1>
      </div>
      <div class="panel-body" style="text-align: left;">
        <!-- message  -->
        <div class="form-group"  
          [class.has-error]="(taskDetailFormGroup.get('message').invalid && taskDetailFormGroup.get('message').touched) || messageExist">
            <label for="formMessage" class="control-label">Message : </label>
            <input 
              id="formMessage" 
              type="text" 
              class="form-control"
              formControlName="message"
              (blur)="checkInputMessage()"
              (focus)="clearCheckInputMessage()"> 
            <span  class="help-block" *ngIf="taskDetailFormGroup.get('message').hasError('required')">
             Task message is must</span>
             <span  class="help-block" *ngIf="messageExist">Message(task name)exist</span>
        </div>
  <!-- Priority -->
        <div class="form-group" style="text-align: left;">
          <label class="control-label">Priority : </label>
          <div class="form-control">
            <label class="radio-inline">
              <input id="priority" 
              type="radio" 
              formControlName="priority" 
              value="1">
              1
            </label>
            <label class="radio-inline">
              <input id="priority" 
              type="radio" 
              formControlName="priority" 
              value="2">
              2
            </label>
            <label class="radio-inline">
              <input id="priority" 
              type="radio" 
              formControlName="priority"
              value="3">
               3
            </label>
          </div>
        </div>
  <!-- Task assignment -->
        <div class="form-group" style="text-align: left;">
          <label for="assignedName">Assign To : </label>
          <select formControlName="assigned_name" id="assignedName" class="form-control">
            <option *ngFor= "let user of restApiCallsDataService.users"
             [value]="user.name">
             {{user.name | titlecase}}</option>
          </select>
        </div>
  <!-- datapicked used from ngx bootstrap -->
        <div class="form-group" style="text-align: left;">
          <label for="dueDate">Due Date : </label>
          <input id="dueDate" type="text"
           bsDatepicker formControlName="dueDate"
           [bsConfig]="datePickerConfig"
           class="form-control">
        </div>
      </div>

      <div class="panel-footer">
        <button type="submit"
         class="btn btn-primary"
         [disabled]="taskDetailFormGroup.get('message').invalid || messageExist">
         Add</button>
      </div>
    </div>
  </form>

  <div class="pop-up" *ngIf="submitted">
    <span class="log-info" *ngIf="!restApiCallsDataService.taskCreationSuccess">New task not created</span>   
    <span class="log-info" *ngIf="restApiCallsDataService.taskCreationSuccess">Successfully created new task</span>
    <div class="okay-button">
        <button class="yes-button" (click)="closeLogAlert()">ok</button>
    </div>
  </div>
</div>
 